body{
    font-family: 'Josefin Slab', serif;
}

.profile{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.info p{
    font-size: 18px;
}

.itinerary a{
    margin: 0 20px;
    color: black;
    font-size: 20px;
}

.itinerary a:hover{
    color: red;
}

.itinerary_button{
    display: flex;
    flex-flow: column nowrap;  
    justify-content: center;
}

.itinerary_button button{
    margin: 5px 0;
}

.period{
    width: 500px;
    display: inline-block;
}

.form-group:nth-child(4){
    float: right;
}

.modal-body button{
    margin: 5px auto;
}

.modal-body a{
    color: white;
    text-decoration: none;
}

.text-center button{
    margin: auto 20px;
}